.left {
    float: left;
    width: 20%;
}

.right {
    float: right;
    width:65%;
}
.breadcrumb>li+li:before {
    content: ">";
    padding: 0 5px;
    color: #ccc;
    font-size: 10px;
}
li.breadcrumb-item.library::before {
    content: '>';
    font-size: 10px;
    margin-right: 5px;
    color: #ccc;
}
li a{color: #999;}
ol.breadcrumb {
    width: 228px;
    float: left;
}
ol.breadcrumb.sdt::after {
    content: '|';
    margin-left: 25px;
    color: #999;
}
ol.breadcrumb.one::after {
    content: '|';
    margin-left: 25px;
    color: #999;
}
ol.breadcrumb.sdt {
    width: 190px;
    float: left;
}

ol.breadcrumb.logo {
    width: 90px;
}
nav {
    font-size: 12px;
}

ol.breadcrumb.sdt {
    margin-left: -32px;
}

ol.breadcrumb.logo {
    margin-left: -50px;
}
.badge{
    background-color: red;
    font-size: 10px;

}
.head {
    height: 150px;
}

.left {
    line-height: 150px;
    margin-left: 190px;
}
.head {
    height: 150px;
}

.left {
    line-height: 150px;
    margin-left: 190px;
}

.right {
    margin-top: 20px;
}
.breadcrumb{
    background: #FFF;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
    font-family: 'Open Sans', 'sans-serif';
}
.mega-dropdown {
    position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}
.mega-dropdown-menu > li > ul > li {
    list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
    display: block;
    color: #222;
    padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: #ff3546;
    padding: 5px 60px 5px 5px;
    line-height: 30px;
}

.carousel-control {
    width: 30px;
    height: 30px;
    top: -35px;

}
.left.carousel-control {
    right: 30px;
    left: inherit;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    font-size: 12px;
    background-color: #fff;
    line-height: 30px;
    text-shadow: none;
    color: #333;
    border: 1px solid #ddd;
}
.luachon {
    width: 58%;
    height: 40px;
    float: right;
}
.container {
    float: right;
    width: 80%;
}
.navbar-inverse{
    background: #FFF;
    border-color: #fff;
    font-size: 18px;
}
.navbar-inverse .navbar-nav>li>a{
    color: #009dca;
}